.taskbar{
	clear:both;
	width:100%;
	/*background: url(/Common/Images/DividerFill.png) ;*/
	background: url(/Common/Images/Taskbar-bg.png) 0px -59px repeat-x;
	overflow: hidden;
	font-family:Arial,sans-serif;
	font-size:11px;
}
.dividerline{
	background: url(/Common/Images/Taskbar-bg.png) -2px -33px no-repeat;
	height:26px;
	line-height:26px;
}
div.dividerline{
	background: url(/Common/Images/Taskbar-bg.png) -2px -33px no-repeat;
	height:21px;
}
.aw-ie .dividerline{
	height:24px;
	line-height:24px;
}
.aw-ie div.dividerline{
	height:21px;
	line-height:21px;
}

.leftdivider {
	background: url(/Common/Images/Taskbar-bg.png) -2px -2px no-repeat;
}
.SUWCSearchico
{
	margin: 4px 2px 0;
}
a.highlightbuttonbox-head-fff,a.highlightbuttonbox,a.highlightbuttonbox-head,a.highlightlinkbox,.offnavlinkbox,div.highlightbuttonbox,.imgprevbutton-off,a.highlightbuttonbox-trans {
	color:#000;
	text-decoration:none;
	padding:1px 2px 1px 2px;
	line-height:26px;
	margin-top:-1px;
	margin-right:1px;
}
a.highlightbuttonbox-path {
	color:#000;
	text-decoration:none;
	padding:0px 2px 1px 2px;
	line-height:16px;
	margin:1px 1px 0px 0px;
}
.aw-ie a.highlightbuttonbox-path {
	margin:2px 1px 0px 0px;
}
a.highlightbuttonbox,a.highlightlinkbox,.offnavlinkbox,div.highlightbuttonbox,div.highlightimagebox,a.highlightimagebox,.imgprevbutton-off,a.highlightbuttonbox-path {
	border:1px solid #e1e1e1;
}
.aw-gecko a.highlightbuttonbox,.aw-chrome a.highlightbuttonbox {
	border:1px solid #e1e1e1;
}
.aw-ie div.highlightbuttonbox,.aw-ie a.highlightbuttonbox {
	border:1px solid #e1e1e1;
}
a.highlightbuttonbox-path {
	color:#0000ff;
	display:block;
}
a.highlightbuttonbox-trans {
	border:1px solid #e9e9e6;
}
a.highlightbuttonbox-head {
	border:1px solid #e8e8e5;
}
a.highlightbuttonbox-head-fff {
	border:1px solid #fff;
}
a.highlightbuttonbox-head-fff:hover,a.highlightbuttonbox:hover,a.highlightbuttonbox-head:hover,a.highlightlinkbox:hover,
.onnavlinkbox,div.highlightbuttonbox:hover,.imgprevbutton-on,a.highlightbuttonbox-trans:hover{
	background:#b6bdd2 ;
	border:1px solid black;
	color:#000!important;
	text-decoration:none;
	padding:1px 2px 1px 2px;
	cursor:pointer;
	line-height:26px;
	margin-top:1px;
	margin-right:1px;
}
a.highlightbuttonbox-path:hover{
	background:#b6bdd2 ;
	border:1px solid black;
	color:#000!important;
	text-decoration:none;
	padding:1px 2px 1px 2px;
	cursor:pointer;
	line-height:16px;
	margin:1px 1px 0px 0px;
}
div.highlightbuttonbox,div.highlightbuttonbox:hover,.imgprevbutton-on,.imgprevbutton-off{
	height:16px;
	line-height:16px;
}
.aw-gecko div.highlightimagebox,.aw-gecko a.highlightimagebox,.aw-chrome div.highlightimagebox,.aw-chrome a.highlightimagebox,a.highlightbuttonbox-path{
	border:1px solid #e1e1e1;
}
.aw-ie div.highlightimagebox,.aw-ie a.highlightimagebox,a.highlightbuttonbox-path {
	border:1px solid #e1e1e1;
}
div.highlightimagebox,div.highlightimagebox:hover,a.highlightimagebox,a.highlightimagebox:hover {
	text-decoration:none;
	padding:2px;
	height:16px;
	line-height:16px;
	margin-top:1px;
	margin-left:2px;
	margin-right:2px;
}
.aw-gecko div.highlightimagebox,.aw-gecko a.highlightimagebox,.aw-gecko div.highlightimagebox:hover,.aw-gecko a.highlightimagebox:hover {
	padding:2px;
	line-height:16px;
	margin-top:-1px;
	height:16px;
}
.aw-ie div.highlightimagebox,.aw-ie a.highlightimagebox,.aw-ie div.highlightimagebox:hover,.aw-ie a.highlightimagebox:hover,
.aw-opera div.highlightimagebox,.aw-opera a.highlightimagebox,.aw-opera div.highlightimagebox:hover,.aw-opera a.highlightimagebox:hover {
	padding:0px;
	line-height:16px;
	margin-top:1px;
	height:16px;
}
div.highlightimagebox:hover,a.highlightimagebox:hover {
	background:#b6bdd2 ;
	border:1px solid black;
	color:#000!important;
	text-decoration:none;
	cursor:pointer;
}
a.highlightimagebox{
	display:block;
}
#logo,#MC-logo{
	position: relative;
	width:100%;
	vertical-align:top;
	overflow: hidden;
}
#logo {	height: 39px;}
#MC-logo {background:#f7f7f7;height: 75px;}

.footer {
	clear: both;
	height: 10px;
	background:#ffffff url(/Common/Images/top-bottom-bar-bg.png) 0px 0px repeat-x;
}
.footerDiv {
	text-align: center;
	line-height: 45px;
	height: 45px;
	color: #999999;
	font-size: 10px;
	background:#f7f7f7;
	border-top:1px solid #c5c5c5;
}
.footerPower {
	font-weight: bold;
	font-style: italic;
	margin-right: 4px;
	font-size: 10px;
}
.footerDiv a {
	color: #999999;
	text-decoration: none;
}
.footerDiv a:hover {
	color: #393939;
	text-decoration: underline;
}
.busylist{
	text-align:center;
	padding:100px 0px 100px 0px;
}
.crumbico, .crumbarrowico {
    padding: 0 5px;
	cursor:pointer;
}
.foldercrumb {
	background-image: url(/Web%20Client/Images/WebClientIcons.png);
	background-repeat: no-repeat;
	background-position: -6px -104px;
	width:12px;
	height:12px;
	display: inline-block;
}
.crumbarrowico {
	background-image: url(/Web%20Client/Images/WebClientIcons.png);
	background-repeat: no-repeat;
	background-position: -254px -83px;
}
.crumbarrowico:hover {
	background-image: url(/Web%20Client/Images/WebClientIcons.png);
	background-repeat: no-repeat;
	background-position: -244px -82px;
}

.iconcell-Home{
	background: url(/Common/Images/menuicons.png) -273px 2px no-repeat;
}
.iconcell-Domain{
	background: url(/Common/Images/menuicons.png) -226px 2px no-repeat;
}
.iconcell-User{
	background: url(/Common/Images/menuicons.png) -21px 3px no-repeat;
}
.iconcell-Users{
	background: url(/Common/Images/menuicons.png) -203px 2px no-repeat;
}
.iconcell-Folders{
	background: url(/Common/Images/menuicons.png) -86px 2px no-repeat;
}
.iconcell-Rules{
	background: url(/Common/Images/menuicons.png) -342px 2px no-repeat;
}
.iconcell-Log{
	background: url(/Common/Images/menuicons.png) -319px 2px no-repeat;
}
.iconcell-Settings{
	background: url(/Common/Images/menuicons.png) -63px 2px no-repeat;
}
.iconcell-Limits{
	background: url(/Common/Images/menuicons.png) -264px -19px no-repeat;
}
.iconcell-Encryption{
	background: url(/Common/Images/menuicons.png) -241px -19px no-repeat;
}
.iconcell-CustomHTML{
	background: url(/Common/Images/menuicons.png) -270px -40px no-repeat;
}
.iconcell-FileShare{
	background: url(/Common/Images/menuicons.png) -100px -60px no-repeat;
}
.iconcell-NIC{
	background: url(/Common/Images/menuicons.png) -43px 2px no-repeat;
}
.iconcell-IPAccess{
	background: url(/Common/Images/menuicons.png) -297px 2px no-repeat;
}
.iconcell-VirtualHosts{
	background: url(/Common/Images/menuicons.png) -289px -19px no-repeat;
}
.iconcell-DirAccess{
	background: url(/Common/Images/menuicons.png) -110px 2px no-repeat;
}
.iconcell-VirtualPaths{
	background: url(/Common/Images/menuicons.png) -133px 2px no-repeat;
}
.iconcell-UsersEdit{
	background: url(/Common/Images/menuicons.png) 1px 2px no-repeat;
}
.iconcell-Logging{
	background: url(/Common/Images/menuicons.png) -181px 2px no-repeat;
}
.iconcell-Disconnect{
	background: url(/Common/Images/menuicons.png) 1px -18px no-repeat;
}
.iconcell-Chat{
	background: url(/Common/Images/menuicons.png) -20px -18px no-repeat;
}
.iconcell-Abort{
	background: url(/Common/Images/menuicons.png) -45px -20px no-repeat;
}
.iconcell-FileDelete{
	/*background: url(/Common/Images/menuicons.png) -68px -20px no-repeat;*/
	background: url(/Web%20Client/Images/Delete_icon_16x16.png) 5px -0px no-repeat;
}
.iconcell-FileOpen{
	/*background: url(/Common/Images/menuicons.png) -88px -20px no-repeat;*/
	background: url(/Web%20Client/Images/folder_opend_icon_16x16.png) 5px -0px no-repeat;
}
.iconcell-FileRename{
	/*background: url(/Common/Images/menuicons.png) -110px -20px no-repeat;*/
	background: url(/Web%20Client/Images/rename_icon_16x16.png) 5px -0px no-repeat;
}
.iconcell-Stats{
	background: url(/Common/Images/menuicons.png) -151px -19px no-repeat;
}
.iconcell-Server{
	background: url(/Common/Images/menuicons.png) -175px -21px no-repeat;
}
.iconcell-WindowsAuth{
	background: url(/Common/Images/menuicons.png) -196px -19px no-repeat;
}
.iconcell-DomainUsers{
	background: url(/Common/Images/menuicons.png) -218px -19px no-repeat;
}
.iconcell-CommandEnable{
	background: url(/Common/Images/menuicons.png) -309px -20px no-repeat;
}
.iconcell-CMDEnable{
	background: url(/Common/Images/menuicons.png) 1px -60px no-repeat;
}
.iconcell-Command,.iconcell-Events{
	background: url(/Common/Images/menuicons.png) -329px -19px no-repeat;
}

.iconcell-Edit{
	background: url(/Common/Images/menuicons.png) -318px -40px no-repeat;
}
.iconcell-Properties{
	background: url(/Common/Images/menuicons.png) -20px -40px no-repeat;
}
.iconcell-New{
	background: url(/Common/Images/menuicons.png) 1px -40px no-repeat;
}
.iconcell-Copy{
	background: url(/Common/Images/menuicons.png) -224px -40px no-repeat;
}
.iconcell-Move{
	background: url(/Common/Images/menuicons.png) -248px -40px no-repeat;
}
.iconcell-Database{
	background: url(/Common/Images/menuicons.png) -40px -40px no-repeat;
}
.iconcell-Gateway{
	background: url(/Common/Images/menuicons.png) -83px -60px no-repeat;
}
.iconcell-DomainGroups{
	background: url(/Common/Images/menuicons.png) -58px -40px no-repeat;
}
.iconcell-UserStats{
	background: url(/Common/Images/menuicons.png) -108px -40px no-repeat;
}
.iconcell-GroupStats{
	background: url(/Common/Images/menuicons.png) -131px -40px no-repeat;
}
.iconcell-License{
	background: url(/Common/Images/menuicons.png) -178px -40px no-repeat;
}
.iconcell-ProgramInfo{
	background: url(/Common/Images/menuicons.png) -201px -40px no-repeat;
}
.iconcell-Add{
	background: url(/Common/Images/menuicons.png) -295px -40px no-repeat;
}
.iconcell-AddChild{
	background: url(/Common/Images/menuicons.png) -350px -40px no-repeat;
}
.iconcell-LDAP{
	background:url(/Common/Images/menuicons.png) -80px -60px no-repeat;
}
.iconcell-Listener{
	background:url(/Admin/Images/ListenerIcons.png) 0px 0px no-repeat;
}
.iconcell-ListenerDisabled{
	background:url(/Admin/Images/ListenerIcons.png) -17px 0px no-repeat;
}
.iconcell-LSTNDisabled{
	background: url(/Common/Images/menuicons.png) -40px -60px no-repeat;
}
.iconcell-LSTNEnabled{
	background: url(/Common/Images/menuicons.png) -20px -60px no-repeat;
}

.iconcell-FileManRuleDisabled{
	background: url(/Admin/Images/FileManListIcons.png) -17px 0px no-repeat;
}
.iconcell-FileManRuleEnabled{
	background: url(/Admin/Images/FileManListIcons.png) 3px 0px no-repeat;
}
.iconcell-LDAPDisabled{
	background:url(/Common/Images/Disable_LDAP16.png) 4px 1px no-repeat;
}
.iconcell-LDAPEnabled{
	background: url(/Common/Images/LDAP16.png) 4px 1px no-repeat;
}
.iconcell-GatewayDisabled{
	background: url(/Common/Images/DisableGateway16.png) 4px 0px no-repeat;
}
.iconcell-GatewayEnabled{
	background: url(/Common/Images/EnableGateway16.png) 4px 0px no-repeat;
}
.iconcell-UserDisabled{
	background: url(/Common/Images/DisableUsers16.png) 4px 0px no-repeat;
}
.iconcell-UserEnabled{
	background: url(/Common/Images/EnableUsers16.png) 4px 0px no-repeat;
}
.iconcell-FilterDisabled{
	background: url(/Common/Images/DisableFilters16.png) 4px 0px no-repeat;
}
.iconcell-FilterEnabled{
	background: url(/Common/Images/EnableFilters16.png) 4px 0px no-repeat;
}
.aw-image-LDAP-Enabled{
	background:url(/Common/Images/LDAP16.png) 0px 1px no-repeat;
}
.aw-image-LDAP-Disabled{
	background:url(/Common/Images/Disable_LDAP16.png) 0px 1px no-repeat;
}

.iconcell-DirShortcut {background:url(/Web%20Client/Images/folder_icon_16x16.png) 3px -0px no-repeat}

.iconcell-helpicon {background:url(/Common/Images/Help16.png) 3px -0px no-repeat}

.iconcell-createFileShareWiz {background:url(/Common/Images/ChangeEmail.png) 3px -0px no-repeat}
.iconcell-pointer-arrow {background:url(/Common/Images/Green-Right-Arrow.png) 5px 2px no-repeat}
.iconcell-MenuOptionSelected {background:url(/Common/Images/MenuOptionSelected.png) 3px -0px no-repeat}

.iconcell-select{
	background: url(/Common/Images/FolderSize.png)  3px -0px no-repeat;
}

/* File Icons*/
.aw-image-HomeDirIco {background:url(/Common/Images/Computer16.png) 0px 5px no-repeat}
.aw-image-DirExt {background:url(/Web%20Client/Images/folder_icon_16x16.png) no-repeat}
.aw-image-DriveExt {background:url(/Web%20Client/ThumbnailIcons/drive.gif) no-repeat}
.aw-image-HeaderDirExt {background:url(/Web%20Client/Images/folder_icon_16x16.png) 0px 5px no-repeat}
.aw-image-DefaultExt {background:url(/Web%20Client/ThumbnailIcons/default.gif) no-repeat}

.aw-image-ResetIcon {background:url(/Common/Images/Reset.png)   0px 1px no-repeat}
.aw-image-ResetAllIcon {background:url(/Common/Images/ResetAll.png)   0px 1px no-repeat}
.aw-gecko.aw-unix .aw-image-Browse {margin:3px -3px -2px 2px!important;}
/*.aw-gecko .aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:3px -3 -6px -2px!important;}
.aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:-6px -3 -8px -2px!important;}*/
.aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:0 -3px -3px 1px!important;}
.aw-gecko .aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:0 -5px -3px 1px!important;}


.aw-image-AVIExt {background:url(/Web%20Client/ThumbnailIcons/avi.gif) no-repeat}
.aw-image-BATExt {background:url(/Web%20Client/ThumbnailIcons/bat.gif) no-repeat}
.aw-image-BMPExt {background:url(/Web%20Client/ThumbnailIcons/bmp.gif) no-repeat}
.aw-image-CExt {background:url(/Web%20Client/ThumbnailIcons/c.gif) no-repeat}
.aw-image-CABExt {background:url(/Web%20Client/ThumbnailIcons/cab.gif) no-repeat}
.aw-image-CHMExt {background:url(/Web%20Client/ThumbnailIcons/chm.gif) no-repeat}
.aw-image-CNTExt {background:url(/Web%20Client/ThumbnailIcons/cnt.gif) no-repeat}
.aw-image-CPPExt {background:url(/Web%20Client/ThumbnailIcons/cpp.gif) no-repeat}
.aw-image-CRTExt {background:url(/Web%20Client/ThumbnailIcons/crt.gif) no-repeat}
.aw-image-CSVExt {background:url(/Web%20Client/ThumbnailIcons/csv.gif) no-repeat}
.aw-image-DEFExt {background:url(/Web%20Client/ThumbnailIcons/def.gif) no-repeat}
.aw-image-DLLExt {background:url(/Web%20Client/ThumbnailIcons/dll.gif) no-repeat}
.aw-image-DOCExt,.aw-image-RTFExt,.aw-image-RTXExt {background:url(/Web%20Client/ThumbnailIcons/doc.gif) no-repeat}
.aw-image-DOTExt {background:url(/Web%20Client/ThumbnailIcons/dot.gif) no-repeat}
.aw-image-DSPExt {background:url(/Web%20Client/ThumbnailIcons/dsp.gif) no-repeat}
.aw-image-DSWExt {background:url(/Web%20Client/ThumbnailIcons/dsw.gif) no-repeat}
.aw-image-EXEExt {background:url(/Web%20Client/ThumbnailIcons/exe.gif) no-repeat}
.aw-image-GIFExt {background:url(/Web%20Client/ThumbnailIcons/gif.gif) no-repeat}
.aw-image-HExt {background:url(/Web%20Client/ThumbnailIcons/h.gif) no-repeat}
.aw-image-ANIExt {background:url(/Web%20Client/ThumbnailIcons/ani.gif) no-repeat}
.aw-image-HTMLExt {background:url(/Web%20Client/ThumbnailIcons/html.gif) no-repeat}
.aw-image-HTMExt {background:url(/Web%20Client/ThumbnailIcons/html.gif) no-repeat}
.aw-image-HXCExt {background:url(/Web%20Client/ThumbnailIcons/hxc.gif) no-repeat}
.aw-image-HXIExt {background:url(/Web%20Client/ThumbnailIcons/hxi.gif) no-repeat}
.aw-image-HXKExt {background:url(/Web%20Client/ThumbnailIcons/hxk.gif) no-repeat}
.aw-image-HXSExt {background:url(/Web%20Client/ThumbnailIcons/hxs.gif) no-repeat}
.aw-image-HXTExt {background:url(/Web%20Client/ThumbnailIcons/hxt.gif) no-repeat}
.aw-image-INIExt {background:url(/Web%20Client/ThumbnailIcons/ini.gif) no-repeat}
.aw-image-ISOExt {background:url(/Web%20Client/ThumbnailIcons/iso.gif) no-repeat}
.aw-image-JPGExt {background:url(/Web%20Client/ThumbnailIcons/jpg.gif) no-repeat}
.aw-image-JSExt {background:url(/Web%20Client/ThumbnailIcons/js.gif) no-repeat}
.aw-image-MAKExt {background:url(/Web%20Client/ThumbnailIcons/mak.gif) no-repeat}
.aw-image-MDBExt {background:url(/Web%20Client/ThumbnailIcons/mdb.gif) no-repeat}
.aw-image-MDEExt {background:url(/Web%20Client/ThumbnailIcons/mde.gif) no-repeat}
.aw-image-MDWExt {background:url(/Web%20Client/ThumbnailIcons/mdw.gif) no-repeat}
.aw-image-MDZExt {background:url(/Web%20Client/ThumbnailIcons/mdz.gif) no-repeat}
.aw-image-MIDExt {background:url(/Web%20Client/ThumbnailIcons/mid.gif) no-repeat}
.aw-image-MPGExt {background:url(/Web%20Client/ThumbnailIcons/mpg.gif) no-repeat}
.aw-image-MP3Ext, .aw-image-WMAExt {background:url(/Web%20Client/ThumbnailIcons/mp3.gif) no-repeat}
.aw-image-MSIExt {background:url(/Web%20Client/ThumbnailIcons/msi.gif) no-repeat}
.aw-image-PPTExt {background:url(/Web%20Client/ThumbnailIcons/ppt.gif) no-repeat}
.aw-image-PNGExt {background:url(/Web%20Client/ThumbnailIcons/png.gif) no-repeat}
.aw-image-PDFExt {background:url(/Web%20Client/ThumbnailIcons/pdf.gif) no-repeat}
.aw-image-POTExt {background:url(/Web%20Client/ThumbnailIcons/pot.gif) no-repeat}
.aw-image-RCExt {background:url(/Web%20Client/ThumbnailIcons/rc.gif) no-repeat}
.aw-image-REGExt {background:url(/Web%20Client/ThumbnailIcons/reg.gif) no-repeat}
.aw-image-SCTExt {background:url(/Web%20Client/ThumbnailIcons/sct.gif) no-repeat}
.aw-image-SAFARIExt {background:url(/Web%20Client/ThumbnailIcons/safari.gif) no-repeat}
.aw-image-FIREFOXExt {background:url(/Web%20Client/ThumbnailIcons/FireFox.gif) no-repeat}
.aw-image-SLNExt {background:url(/Web%20Client/ThumbnailIcons/sln.gif) no-repeat}
.aw-image-HLPExt {background:url(/Web%20Client/ThumbnailIcons/hlp.gif) no-repeat}
.aw-image-TTFExt {background:url(/Web%20Client/ThumbnailIcons/ttf.gif) no-repeat}
.aw-image-TXTExt,.aw-image-LOGExt {background:url(/Web%20Client/ThumbnailIcons/txt.gif) no-repeat}
.aw-image-URLExt {background:url(/Web%20Client/ThumbnailIcons/url.gif) no-repeat}
.aw-image-VBSExt {background:url(/Web%20Client/ThumbnailIcons/vbs.gif) no-repeat}
.aw-image-VCPROJExt {background:url(/Web%20Client/ThumbnailIcons/vcproj.gif) no-repeat}
.aw-image-VCXPROJExt {background:url(/Web%20Client/ThumbnailIcons/vcxproj.gif) no-repeat}
.aw-image-VSSSCCExt {background:url(/Web%20Client/ThumbnailIcons/vssscc.gif) no-repeat}
.aw-image-XMLExt {background:url(/Web%20Client/ThumbnailIcons/xml.gif) no-repeat}
.aw-image-WAVExt {background:url(/Web%20Client/ThumbnailIcons/wav.gif) no-repeat}
.aw-image-WMAExt {background:url(/Web%20Client/ThumbnailIcons/wma.gif) no-repeat}
.aw-image-WMVExt {background:url(/Web%20Client/ThumbnailIcons/wmv.gif) no-repeat}
.aw-image-WMZExt {background:url(/Web%20Client/ThumbnailIcons/wmz.gif) no-repeat}
.aw-image-WRIExt {background:url(/Web%20Client/ThumbnailIcons/wri.gif) no-repeat}
.aw-image-XLSExt {background:url(/Web%20Client/ThumbnailIcons/xls.gif) no-repeat}
.aw-image-ZIPExt {background:url(/Web%20Client/ThumbnailIcons/zip.gif) no-repeat}
.aw-image-MOVExt {background:url(/Web%20Client/ThumbnailIcons/mov.gif) no-repeat}
.aw-image-PSDExt {background:url(/Web%20Client/ThumbnailIcons/psd.gif) no-repeat}
.aw-image-AIExt {background:url(/Web%20Client/ThumbnailIcons/ai.gif) no-repeat}
.aw-image-INDDExt {background:url(/Web%20Client/ThumbnailIcons/indd.gif) no-repeat}
.aw-image-ACCDBExt {background:url(/Web%20Client/ThumbnailIcons/accdb.gif) no-repeat}
.aw-image-DOCXExt {background:url(/Web%20Client/ThumbnailIcons/docx.gif) no-repeat}
.aw-image-DOTXExt {background:url(/Web%20Client/ThumbnailIcons/dotx.gif) no-repeat}
.aw-image-POTXExt {background:url(/Web%20Client/ThumbnailIcons/potx.gif) no-repeat}
.aw-image-PPTXExt {background:url(/Web%20Client/ThumbnailIcons/pptx.gif) no-repeat}
.aw-image-PUBExt {background:url(/Web%20Client/ThumbnailIcons/pub.gif) no-repeat}
.aw-image-XLSXExt {background:url(/Web%20Client/ThumbnailIcons/xlsx.gif) no-repeat}
.aw-image-XLTXExt {background:url(/Web%20Client/ThumbnailIcons/xltx.gif) no-repeat}
.aw-image-RARExt {background:url(/Web%20Client/ThumbnailIcons/rar.gif) no-repeat}
.aw-image-7ZExt {background:url(/Web%20Client/ThumbnailIcons/7z.gif) no-repeat}
.aw-image-M4AExt {background:url(/Web%20Client/ThumbnailIcons/m4a.gif) no-repeat}

/* Drive Icon Images */
.aw-image-DRIVE_UNKNOWN{background: url(/Common/Images/DriveIcons.png) -50px 2px no-repeat;}
.aw-image-DRIVE_NO_ROOT_DIR{background: url(/Common/Images/DriveIcons.png) -128px 2px no-repeat;}
.aw-image-DRIVE_REMOVABLE{background: url(/Common/Images/DriveIcons.png) -153px 2px no-repeat;}
.aw-image-DRIVE_FIXED{background: url(/Common/Images/DriveIcons.png) -103px 2px no-repeat;}
.aw-image-DRIVE_REMOTE{background: url(/Common/Images/DriveIcons.png) -25px 2px no-repeat;}
.aw-image-DRIVE_CDROM{background: url(/Common/Images/DriveIcons.png) -3px 2px no-repeat;}
.aw-image-DRIVE_RAMDISK{background: url(/Common/Images/DriveIcons.png) -75px 2px no-repeat;}
.aw-image-DRIVE_REMOVABLE_OTHER{background: url(/Common/Images/DriveIcons.png) -177px 2px no-repeat;}

.iconcell-DRIVE_UNKNOWN {background: url(/Common/Images/DriveIcons.png) -47px 2px no-repeat;}
.iconcell-DRIVE_NO_ROOT_DIR{background: url(/Common/Images/DriveIcons.png) -125px 2px no-repeat;}
.iconcell-DRIVE_REMOVABLE {background: url(/Common/Images/DriveIcons.png) -150px 2px no-repeat;}
.iconcell-DRIVE_FIXED {background: url(/Common/Images/DriveIcons.png) -100px 2px no-repeat;}
.iconcell-DRIVE_REMOTE {background: url(/Common/Images/DriveIcons.png) -22px 2px no-repeat;}
.iconcell-DRIVE_CDROM{background: url(/Common/Images/DriveIcons.png) -0px 2px no-repeat;}
.iconcell-DRIVE_RAMDISK{background: url(/Common/Images/DriveIcons.png) -72px 2px no-repeat;}
.iconcell-DRIVE_REMOVABLE_OTHER {background: url(/Common/Images/DriveIcons.png) -174px 2px no-repeat;}
.iconcell-DirShortcut {background:url(/Web%20Client/Images/folder_icon_16x16.png) 3px -0px no-repeat}

.iconcell,.iconcell-Home,.iconcell-Domain,.iconcell-User,.iconcell-Users,.iconcell-Folders,.iconcell-Rules,.iconcell-Log,
.iconcell-Limits,.iconcell-NIC,.iconcell-IPAccess,.iconcell-DirAccess,.iconcell-VirtualPaths,.iconcell-UsersEdit,
.iconcell-Logging,.iconcell-Disconnect,.iconcell-Chat,.iconcell-Abort,.iconcell-FileOpen,.iconcell-FileRename,
.iconcell-FileDelete,.iconcell-Download,.iconcell-Stats,.iconcell-Server,.iconcell-WindowsAuth,.iconcell-DomainUsers,
.iconcell-Settings,.iconcell-Encryption,.iconcell-VirtualHosts,.iconcell-CommandEnable,.iconcell-Command,.iconcell-ImagePreview,.iconcell-ImageSlideshow,
.iconcell-New,.iconcell-Edit,.iconcell-Database,.iconcell-DomainGroups,.iconcell-MediaPreview,.iconcell-GroupStats,.iconcell-UserStats,
.iconcell-Events,.iconcell-License,.iconcell-ProgramInfo,.iconcell-DRIVE_UNKNOWN, .iconcell-DRIVE_NO_ROOT_DIR ,
.iconcell-DRIVE_REMOVABLE,.iconcell-DRIVE_FIXED, .iconcell-DRIVE_REMOTE, .iconcell-DRIVE_CDROM, .iconcell-DRIVE_RAMDISK,
.iconcell-DRIVE_REMOVABLE_OTHER, .iconcell-DirShortcut,.iconcell-pointer-arrow,.iconcell-Copy,.iconcell-Move,.iconcell-Favorites,
.iconcell-CustomHTML,.iconcell-FileShare,.iconcell-MenuOptionSelected, .iconcell-Listener, .iconcell-ListenerDisabled,.iconcell-Add,.iconcell-Properties,.iconcell-AddChild,
.iconcell-helpicon,.iconcell-thumbnailview,.iconcell-createdir,.iconcell-thumb-75,.iconcell-thumb-100,.iconcell-thumb-150,.iconcell-thumb-200,.iconcell-thumb-250,.iconcell-select,
.iconcell-dirproperties,.iconcell-createFileShareWiz,.iconcell-CMDEnable,.iconcell-LSTNEnabled,.iconcell-LSTNDisabled,.iconcell-Gateway,.iconcell-GatewayEnabled,.iconcell-GatewayDisabled,.iconcell-UserEnabled,.iconcell-UserDisabled,
.iconcell-FilterEnabled, .iconcell-FilterDisabled,.iconcell-LDAP,.iconcell-LDAPEnabled,.iconcell-LDAPDisabled,.iconcell-FileManRuleEnabled,.iconcell-FileManRuleDisabled{
	text-align:center;
	width:24px;
	cursor: pointer;
	background-color:#dad7d0;
	background-repeat: no-repeat;
	height:18px;overflow:hidden;
}
.iconcell-FileManRuleEnabled, .iconcell-FileManRuleDisabled
{
	width:22px;
}
.iconcell-Listener,.iconcell-ListenerDisabled{
	width:18px;
	margin-left:3px;
}
.iconcell-divider{
	text-align:center;
	width:24px;
	cursor: pointer;
	background-color:#dad7d0;
	background-repeat: no-repeat;
	height:1px;overflow:hidden;
}
.iconcolumn
{
	text-align:center;
	width:24px;
	cursor: pointer;
	background-color:#dad7d0;
	background-repeat: no-repeat;
}
.totals{
	padding:5px;
}
.aw-image-backarrow{
	background: url(/Common/Images/Previous_Image.png) no-repeat  center center;
	margin-left:5px;
}
.aw-image-nextarrow{
	background: url(/Common/Images/Next_Image.png) no-repeat center center;
	margin-left:5px;
}
.aw-image-toparrow{
	background: url(/Admin/Images/TopArrow16.png) -2px -0px no-repeat;
	/*margin:0px auto 0px auto;*/
margin:0 -3px -3px 1px!important;
}
.aw-image-uparrow{
	background: url(/Admin/Images/UpArrow16.png) -2px -0px no-repeat;
	/*margin:0px auto 0px auto;*/
margin:0 -3px -3px 1px!important;
}
.aw-image-downarrow{
	background: url(/Admin/Images/DownArrow16.png) -2px -0px no-repeat;
	/*margin:0px auto 0px auto;*/
margin:0 -3px -3px 1px!important;
}
.aw-image-bottomarrow{
	background: url(/Admin/Images/BottomArrow16.png) -2px -0px no-repeat;
	/*margin:0px auto 0px auto;*/
margin:0 -3px -3px 1px!important;
}
.aw-gecko .aw-image-toparrow{
	background: url(/Admin/Images/TopArrow16.png) -2px -0px no-repeat;
	margin:0px -5px -3px 1px !important;
}
.aw-gecko .aw-image-uparrow{
	background: url(/Admin/Images/UpArrow16.png) -2px -0px no-repeat;
	margin:0px -5px -3px 1px !important;
}
.aw-gecko .aw-image-downarrow{
	background: url(/Admin/Images/DownArrow16.png) -2px -0px no-repeat;
	margin:0px -5px -3px 1px !important;
}
.aw-gecko .aw-image-bottomarrow{
	background: url(/Admin/Images/BottomArrow16.png) -2px -0px no-repeat;
	margin:0px -5px -3px 1px !important;
}

.aw-ui-button-arrow {
    background: url(/Common/Scripts/Images/button.png) 100% 0px no-repeat;
    padding:0px 3px 0px 0px;
}
.aw-ui-button-arrow .aw-item-box {
    padding: 0px 0px 0px 9px;
    background: url(/Common/Scripts/Images/button.png) 0px -50px no-repeat;
}
.aw-ui-button-imagearrow {
    background: url(/Common/Scripts/Images/button.png) 100% 0px no-repeat;
    padding:0px 3px 0px 0px;
}
.aw-ui-button-imagearrow .aw-item-box {
    padding: 0px 0px 0px 9px;
    background: url(/Common/Scripts/Images/button.png) 0px -50px no-repeat;
}
a {
	color: #0000FF;
	text-decoration: none;
}
a.screens {
	color: #FFFFFF;
}
a:hover {
	color: #FF0000;
}
.loglegend {
	background-color:#fff;border:1px solid black;margin:5px;padding:5px;
}
/* Moved from aw.css for easier conversion of newer versions*/

.aw-image-HomeDirIco {background:url(/Common/Images/Computer16.png) 0px 5px no-repeat}
.aw-image-DirExt {background:url(/Web%20Client/Images/folder_icon_16x16.png) no-repeat}
.aw-image-DriveExt {background:url(/Web%20Client/ThumbnailIcons/drive.gif) no-repeat}
.aw-image-HeaderDirExt {background:url(/Web%20Client/Images/folder_icon_16x16.png) 0px 5px no-repeat}
.aw-image-DefaultExt {background:url(/Web%20Client/ThumbnailIcons/default.gif) no-repeat}

.aw-image-ResetIcon {background:url(/Common/Images/Reset.png)   0px 1px no-repeat}
.aw-image-ResetAllIcon {background:url(/Common/Images/ResetAll.png)   0px 1px no-repeat}
.aw-gecko.aw-unix .aw-image-Browse {margin:3px -3px -2px 2px!important;}
/*.aw-gecko .aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:3px -3 -6px -2px!important;}
.aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:-6px -3 -8px -2px!important;}*/
.aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:0 -3px -3px 1px!important;}

.aw-gecko .aw-image-Browse {background:url(/Common/Images/Browse-16.png) no-repeat;margin:0 -5px -3px 1px!important;}


.aw-gecko .aw-ui-group{border:1px solid #808080;}
.aw-disabled-control INPUT {color: #AAAAAA;}




.aw-image-Import {background:url(/Common/Images/Import.png) 0px 1px no-repeat;}
.aw-image-Export {background:url(/Common/Images/Export.png) 0px 1px no-repeat;}
.aw-image-ImportDB {background:url(/Common/Images/Import.png) 0px 1px no-repeat;}
.aw-image-ExportDB {background:url(/Common/Images/Export.png) 0px 1px no-repeat;}

.aw-ie .aw-image-Import {background:url(/Common/Images/Import.png) 0px 1px no-repeat;}
.aw-ie .aw-image-Export {background:url(/Common/Images/Export.png) 0px 1px no-repeat;}
.aw-ie .aw-image-ImportDB {background:url(/Common/Images/Import.png) 0px 1px no-repeat;}
.aw-ie .aw-image-ExportDB {background:url(/Common/Images/Export.png) 0px 1px no-repeat;}

/* Activity Images */
.aw-image-Session {background:url(/Admin/Images/ActivityIcons.png) 0px 0px no-repeat}
.aw-image-SessionSecure {background:url(/Admin/Images/ActivityIcons.png) -17px 0px no-repeat}
.aw-image-SessionMsg {background:url(/Admin/Images/ActivityIcons.png) -34px 0px no-repeat}

/* Listener Images */
.aw-image-Listener {background:url(/Admin/Images/ListenerIcons.png) 0px 0px no-repeat}
.aw-image-ListenerDisabled {background:url(/Admin/Images/ListenerIcons.png) -17px 0px no-repeat}
.aw-image-ListenerDenied {background:url(/Admin/Images/ListenerIcons.png) -34px 0px no-repeat}

/* FileManagement Images */
.aw-image-FileManEnabled {background:url(/Admin/Images/FileManListIcons.png) 0px 0px no-repeat}
.aw-image-FileManDisabled {background:url(/Admin/Images/FileManListIcons.png) -20px 0px no-repeat}

/* Rules Images */
.aw-image-RuleAllow {background:url(/Admin/Images/RulesIcons.png) 0px 0px no-repeat}
.aw-image-RuleDeny {background:url(/Admin/Images/RulesIcons.png) -18px 0px no-repeat}

/* Domain images */
.aw-image-Domain {background:url(/Admin/Images/DomainIcons.png) 0px 0px no-repeat}
.aw-image-DomainDisabled {background:url(/Admin/Images/DomainIcons.png) -17px 0px no-repeat}

/* User images */
.aw-image-UserDisabled {background:url(/Admin/Images/UserIcons.png) 0px 0px no-repeat}
.aw-image-UserTemp {background:url(/Admin/Images/UserIcons.png) -17px 0px no-repeat}
.aw-image-User {background:url(/Admin/Images/UserIcons.png) -34px 0px no-repeat}
.aw-image-UserWarn {background:url(/Admin/Images/UserIcons.png) -51px 0px no-repeat}
.aw-image-UserAutoDisabled {background:url(/Admin/Images/UserIcons.png) -69px 0px no-repeat}

/* Sys Admin */
.aw-image-UserDisabled-Sys {background:url(/Admin/Images/UserIcons.png) -178px 0px no-repeat}
.aw-image-UserTemp-Sys {background:url(/Admin/Images/UserIcons.png) -199px 0px no-repeat}
.aw-image-User-Sys {background:url(/Admin/Images/UserIcons.png) -216px 0px no-repeat}
.aw-image-UserWarn-Sys {background:url(/Admin/Images/UserIcons.png) -233px 0px no-repeat}
.aw-image-UserAutoDisabled-Sys {background:url(/Admin/Images/UserIcons.png) -251px 0px no-repeat}

/* Sys Admin RO */
.aw-image-UserDisabled-SysRO {background:url(/Admin/Images/UserIcons.png) -360px 0px no-repeat}
.aw-image-UserTemp-SysRO {background:url(/Admin/Images/UserIcons.png) -381px 0px no-repeat}
.aw-image-User-SysRO {background:url(/Admin/Images/UserIcons.png) -398px 0px no-repeat}
.aw-image-UserWarn-SysRO {background:url(/Admin/Images/UserIcons.png) -415px 0px no-repeat}
.aw-image-UserAutoDisabled-SysRO {background:url(/Admin/Images/UserIcons.png) -433px 0px no-repeat}


/* Domain Admin */
.aw-image-UserDisabled-Domain {background:url(/Admin/Images/UserIcons.png) -89px 0px no-repeat}
.aw-image-UserTemp-Domain {background:url(/Admin/Images/UserIcons.png) -107px 0px no-repeat}
.aw-image-User-Domain {background:url(/Admin/Images/UserIcons.png) -124px 0px no-repeat}
.aw-image-UserWarn-Domain {background:url(/Admin/Images/UserIcons.png) -139px 0px no-repeat}
.aw-image-UserAutoDisabled-Domain {background:url(/Admin/Images/UserIcons.png) -159px 0px no-repeat}
/* Domain Admin RO*/
.aw-image-UserDisabled-DomainRO {background:url(/Admin/Images/UserIcons.png) -271px 0px no-repeat}
.aw-image-UserTemp-DomainRO {background:url(/Admin/Images/UserIcons.png) -289px 0px no-repeat}
.aw-image-User-DomainRO {background:url(/Admin/Images/UserIcons.png) -306px 0px no-repeat}
.aw-image-UserWarn-DomainRO {background:url(/Admin/Images/UserIcons.png) -321px 0px no-repeat}
.aw-image-UserAutoDisabled-DomainRO {background:url(/Admin/Images/UserIcons.png) -341px 0px no-repeat}

/* Group Admin */
.aw-image-UserDisabled-Group {background:url(/Admin/Images/UserIcons.png) -453px 0px no-repeat}
.aw-image-UserTemp-Group {background:url(/Admin/Images/UserIcons.png) -473px 0px no-repeat}
.aw-image-User-Group {background:url(/Admin/Images/UserIcons.png) -493px 0px no-repeat}
.aw-image-UserWarn-Group {background:url(/Admin/Images/UserIcons.png) -513px 0px no-repeat}
.aw-image-UserAutoDisabled-Group {background:url(/Admin/Images/UserIcons.png) -533px 0px no-repeat}
/* Group Admin RO*/
.aw-image-UserDisabled-GroupRO {background:url(/Admin/Images/UserIcons.png) -553px 0px no-repeat}
.aw-image-UserTemp-GroupRO {background:url(/Admin/Images/UserIcons.png) -573px 0px no-repeat}
.aw-image-User-GroupRO {background:url(/Admin/Images/UserIcons.png) -593px 0px no-repeat}
.aw-image-UserWarn-GroupRO {background:url(/Admin/Images/UserIcons.png) -613px 0px no-repeat}
.aw-image-UserAutoDisabled-GroupRO {background:url(/Admin/Images/UserIcons.png) -633px 0px no-repeat}

/* Event images */
.aw-image-Email-Action-Enabled {background:url(/Admin/Images/EventIcons.png) -41px 0px no-repeat}
.aw-image-Email-Action-Disabled {background:url(/Admin/Images/EventIcons.png) -157px 0px no-repeat}
.aw-image-Email-Action-NoFire {background:url(/Admin/Images/EventIcons.png) -64px 0px no-repeat}
.aw-image-Balloon-Action-Enabled {background:url(/Admin/Images/EventIcons.png) -2px 0px no-repeat}
.aw-image-Balloon-Action-Disabled {background:url(/Admin/Images/EventIcons.png) -135px 0px no-repeat}
.aw-image-Balloon-Action-NoFire {background:url(/Admin/Images/EventIcons.png) -21px 0px no-repeat}
.aw-image-Exec-Action-Enabled {background:url(/Admin/Images/EventIcons.png) -86px 0px no-repeat}
.aw-image-Exec-Action-Disabled {background:url(/Admin/Images/EventIcons.png) -177px 0px no-repeat}
.aw-image-Exec-Action-NoFire {background:url(/Admin/Images/EventIcons.png) -111px 0px no-repeat}

.aw-image-MSMQ-Action-Enabled {background:url(/Admin/Images/EventIcons.png) -200px 0px no-repeat}
.aw-image-MSMQ-Action-Disabled {background:url(/Admin/Images/EventIcons.png) -244px 0px no-repeat}
.aw-image-MSMQ-Action-NoFire {background:url(/Admin/Images/EventIcons.png) -222px 0px no-repeat}

.aw-image-WinLog-Action-Enabled {background:url(/Admin/Images/EventIcons.png) -266px 0px no-repeat}
.aw-image-WinLog-Action-NoFire {background:url(/Admin/Images/EventIcons.png) -289px 0px no-repeat}
.aw-image-WinLog-Action-Disabled {background:url(/Admin/Images/EventIcons.png) -312px 0px no-repeat}

/* FTP Command images */
.aw-image-FTPCmd {background:url(/Admin/Images/CommandIcons.png) 0px 0px no-repeat}
.aw-image-FTPCmdDisabled {background:url(/Admin/Images/CommandIcons.png) -17px 0px no-repeat}
.aw-image-FTPCmdSuperfluous {background:url(/Admin/Images/CommandIcons.png) -34px 0px no-repeat}
.aw-image-FTPCmdSuperfluousDisabled {background:url(/Admin/Images/CommandIcons.png) -51px 0px no-repeat}
.aw-image-FTPCmdParentDisabled {background:url(/Admin/Images/CommandIcons.png) -68px 0px no-repeat}

/* Group images */
.aw-image-Group {background:url(/Admin/Images/GroupIcons.png) -20px 0px no-repeat}
.aw-image-Group-Disabled {background:url(/Admin/Images/GroupIcons.png) -0px 0px no-repeat}
.aw-image-User16 {background:url(/Common/Images/User16.png) no-repeat}


/* Limits images */
.aw-image-Limit {background:url(/Common/Images/Limits16.png) no-repeat}
.aw-image-LoginLimit {background:url(/Common/Images/LoginLimit16.png) no-repeat;}

.aw-image-Import {background:url(/Common/Images/Import.png) 0px 1px no-repeat;}
.aw-image-MessageFile {background:url(/Common/Images/MessageFile16.png) no-repeat;}


/* Database Table Images */
.aw-image-table-enabled {background:url(/Common/Images/Database16.png) no-repeat}
.aw-image-table-disabled {background:url(/Common/Images/database16-disabled.png) no-repeat}

/* Filter Images */
.aw-image-Filter-enabled {background:url(/Common/Images/Filter16-enabled.png) no-repeat}
.aw-image-Filter-disabled {background:url(/Common/Images/Filter16-disabled.png) no-repeat}

/* GateWay Images */
.aw-image-GW-Unknown {background:url(/Admin/Images/Gateway-Status16.png) 0px 0px no-repeat}
.aw-image-GW-Running {background:url(/Admin/Images/Gateway-Status16.png) -18px 0px no-repeat}
.aw-image-GW-NotFound {background:url(/Admin/Images/Gateway-Status16.png) -36px 0px no-repeat}
.aw-image-GW-Trial {background:url(/Admin/Images/Gateway-Status16.png) -54px 0px no-repeat}
.aw-image-GW-TrialNearEnd {background:url(/Admin/Images/Gateway-Status16.png) -72px 0px no-repeat}
.aw-image-GW-TrialExpired {background:url(/Admin/Images/Gateway-Status16.png) -90px 0px no-repeat}
.aw-image-GW-UpdateNearEnd {background:url(/Admin/Images/Gateway-Status16.png) -108px 0px no-repeat}
.aw-image-GW-UpdateExpired {background:url(/Admin/Images/Gateway-Status16.png) -126px 0px no-repeat}
.aw-image-GW-Disabled {background:url(/Admin/Images/Gateway-Status16.png) -144px 0px no-repeat}


.lg-image-GW-Unknown {background:url(/Admin/Images/Gateway-Status32.png) 0px 0px no-repeat}
.lg-image-GW-Running {background:url(/Admin/Images/Gateway-Status32.png) -36px 0px no-repeat}
.lg-image-GW-NotFound {background:url(/Admin/Images/Gateway-Status32.png) -72px 0px no-repeat}
.lg-image-GW-Trial {background:url(/Admin/Images/Gateway-Status32.png) -108px 0px no-repeat}
.lg-image-GW-TrialNearEnd {background:url(/Admin/Images/Gateway-Status32.png) -144px 0px no-repeat}
.lg-image-GW-TrialExpired {background:url(/Admin/Images/Gateway-Status32.png) -180px 0px no-repeat}
.lg-image-GW-UpdateNearEnd {background:url(/Admin/Images/Gateway-Status32.png) -216px 0px no-repeat}
.lg-image-GW-UpdateExpired {background:url(/Admin/Images/Gateway-Status32.png) -252px 0px no-repeat}
.lg-image-GW-Disabled {background:url(/Admin/Images/Gateway-Status32.png) -288px 0px no-repeat}


 /* General Images */
 .aw-image-Wizard_Wand_Icon {background:url(/Common/Images/Wizard-Wand16-8bit.png) 0px 0px  no-repeat}
 .aw-image-SMTP_Icon {background:url(/Common/Images/Email16.png) 0px 0px  no-repeat}
 .aw-image-Gateway_Icon {background:url(/Common/Images/Gateway16.png) 0px 0px  no-repeat}
 .aw-image-User_Template_Icon {background:url(/Common/Images/UserTemplate16.png) 0px 0px  no-repeat}
 .aw-image-Group_Template_Icon {background:url(/Common/Images/GroupTemplate16.png) 0px 0px  no-repeat}
 .aw-image-Ask_Basic_Client_Icon {background:url(/Common/Images/fvjv_su_icons.png) -24px 0px  no-repeat}
 .aw-image-Ask_FTP_Voyager_Icon {background:url(/Common/Images/fvjv_su_icons.png) -1px 0px  no-repeat}
 .aw-image-Ask_File_Sharing_Icon {background:url(/Common/Images/fvjv_su_icons.png) -45px 0px  no-repeat}
 .aw-image-log {background:url(/Common/Images/Log16-8bit.png)  0px 1px no-repeat}
 .aw-image-GroupEmail {background:url(/Common/Images/GroupEmail16.png)  no-repeat;margin:-6px -2px -8px -1px}
 .aw-image-GreenRightArrow {background:url(/Common/Images/Green-Right-Arrow.png)  no-repeat;margin:-6px -2px -8px -1px}
 .aw-image-GreenLeftArrow {background:url(/Common/Images/Green-Left-Arrow.png)  no-repeat;margin:-6px -2px -8px -1px}
 .aw-image-RecoverPasswordIcon {background:url(/Common/Images/RecoverPassword-16-8bit.png) 0px 0px  no-repeat;margin:-6px 3px -8px 0px}
 .aw-image-PasswordGenIcon {background:url(/Common/Images/Change_Password_Trans16.png) no-repeat;margin:-6px -5px -8px -3px}
 .aw-ie .aw-image-PasswordGenIcon {background:url(/Common/Images/Change_Password_Trans16.png) no-repeat;margin:-6px -3px -8px -2px}
 .aw-gecko.aw-unix .aw-image-GroupEmail {background:url(/Common/Images/GroupEmail16.png)  no-repeat;margin:2px -3px 0px 1px !important;}
 /*.aw-gecko .aw-image-GroupEmail {background:url(/Common/Images/GroupEmail16.png)  no-repeat;margin:3px -2px -8px -1px!important;}*/
 .aw-gecko .aw-image-GroupEmail {background:url(/Common/Images/GroupEmail16.png) no-repeat;margin:0 -2px -2px 1px!important;}
 .aw-gecko.aw-unix .aw-image-GreenRightArrow {margin:3px -2px -2px 0px !important;}
 .aw-gecko.aw-unix .aw-image-GreenLeftArrow {margin:3px -2px -2px 0px !important;}
/* .aw-gecko .aw-image-GreenRightArrow {background:url(/Common/Images/Green-Right-Arrow.png)  no-repeat;margin:3px -2px -8px -1px!important;}*/
 .aw-gecko .aw-image-GreenRightArrow {background:url(/Common/Images/Green-Right-Arrow.png)  no-repeat;margin:0 -2px -3px -1px!important;}
 /*.aw-gecko .aw-image-GreenLeftArrow {background:url(/Common/Images/Green-Left-Arrow.png)  no-repeat;margin:3px -2px -8px -1px!important;}*/
 .aw-gecko .aw-image-GreenLeftArrow {background:url(/Common/Images/Green-Left-Arrow.png) no-repeat;margin:0 -2px -3px -1px!important;}
 .aw-gecko .aw-image-RecoverPasswordIcon {background:url(/Common/Images/RecoverPassword-16-8bit.png) 0px 0px  no-repeat;}
 /*.aw-gecko .aw-image-PasswordGenIcon {background:url(/Common/Images/Change_Password_Trans16.png) no-repeat;margin:3px -5px -8px -3px!important;}*/
 .aw-gecko .aw-image-PasswordGenIcon {background:url(/Common/Images/Change_Password_Trans16.png) no-repeat;margin:0 -5px -3px 1px!important;}
 .aw-gecko.aw-unix .aw-image-PasswordGenIcon {margin: 3px -3px -2px 1px !important;}

/* fix Firefox oninput event bug
.aw-gecko .aw-edit-control .aw-item-box {
    overflow: hidden;
}*/
.aw-xp .headcontainer SPAN,.aw-classic .headcontainer SPAN
{
	color:#fff !important;
}
.aw-xp .aw-grid-control{
	background: #fff;
}
.aw-classic .aw-grid-control{
	background: #fff;
}
.aw-aqua .aw-grid-control{
	background: #fff;
}
.aw-vista .aw-grid-control{
	background: #fff;
}
.aw-ie .MainHeaderInfo{
height:32px;
}
.aw-frame-template .aw-items-selected {
    color: #fff;
    background: #316ac5;
}
.User-Expired-Grid-Txt {
	color:#13920d;
	vertical-align:baseline;
}
.User-Expiring-Grid-Txt {
	color:#ff0000;
	vertical-align:baseline;
}
.aw-rows-selected  .User-Expired-Grid-Txt {
	color:#fff;
}
.aw-rows-selected  .User-Expiring-Grid-Txt {
	color:#fff;
}
.aw-ui-radio .aw-list-box {height:auto;}

.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.EditionSection,.EditionSectionFill { background:#dfdfdf url(/Common/Images/feature-cat-bg.png) repeat-x top left;color:#fff;}
.EditionSection { padding-left:5px;font-weight:bold;text-align:left;}

/* IE 9 AW Fix for tabs in 2.6.0 and earlier*/
.aw-ms9 .aw-ui-tabs .aw-item-box {
    width: auto;
}
.aw-ie6 #Logic{padding-top:10px;}

div.contextmenu, div.contextmenu-ru, div.contextmenu-wide, div.contextmenu-it
{
	background: #f9f8f7 url(/Common/Images/HistoryMenu-BG.gif) top left repeat-y;
}