/* START jQuery styles */
/* TODO:  When we move jQuery into the "Common" directory, we should consider moving these styles into our global stylesheet */
/* Change jQuery styles so our buttons can be skinned.*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
	border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
	border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
	border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl
{
	border-top-left-radius: 0px;
}
.ui-button-text.ui-button-text-img
{
	padding: 0.4em 1em 0.4em 0;
}
.ui-button-text.ui-button-notext-img {
    padding: 0.4em 1em 0.4em 0;
}
.ui-button
{
	height:25px;
}

.aw-opera .ui-button
{
	height:24px;
}
.button_img
{
	display: inline-block;
    height: 18px;
    line-height: 1px;
    margin: -8px 2px -8px 3px;
    overflow: hidden;
    vertical-align: middle;
    width: 18px;
}
.button_imgonly
{
	display: inline-block;
    height: 18px;
    line-height: 1px;
    margin: -8px 2px -8px 3px !important;
    overflow: hidden;
    vertical-align: middle;
    width: 18px;
}

.aw-gecko .button_imgonly
{
	display: inline-block;
    height: 18px;
    line-height: 1px;
    margin: -8px 2px -8px 3px !important;
    overflow: hidden;
    vertical-align: middle;
    width: 18px;
}
.button_disabled
{
	cursor: default;
	opacity: 0.3;						/* Standards Compliant Browsers */
    filter: alpha(opacity=30);			/* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.button_disabled:hover
{
	cursor: default;
	opacity: 0.3;						/* Standards Compliant Browsers */
    filter: alpha(opacity=30);			/* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.button_gray
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	border:1px solid #8c8d8d !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius:	3px !important;
		border-radius:		3px !important;
	background-color: #787777 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#787777), to(#404040)) !important;
	background-image: -webkit-linear-gradient(top, #787777, #404040) !important;
	background-image: -moz-linear-gradient(top, #787777, #404040) !important;
	background-image: -ms-linear-gradient(top, #787777, #404040) !important;
	background-image: -o-linear-gradient(top, #787777, #404040) !important;
	background-image: linear-gradient(to bottom, #787777, #404040) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#787777, endColorstr=#404040);
}
.button_gray:hover
{
	border:1px solid #606060 !important;
	background-color: #6c6c6c !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), top(#353535)) !important;
	background-image: -webkit-linear-gradient(top, #6c6c6c, #353535) !important;
	background-image: -moz-linear-gradient(top, #6c6c6c, #353535) !important;
	background-image: -ms-linear-gradient(top, #6c6c6c, #353535) !important;
	background-image: -o-linear-gradient(top, #6c6c6c, #353535) !important;
	background-image: linear-gradient(to bottom, #6c6c6c, #353535) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6c6c6c, endColorstr=#353535);
}
.button_ltgray
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #333333 !important;
	border: 1px solid #8c8d8d !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius:	3px !important;
		border-radius:		3px !important;
	background-color: #E9EAE8 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9EAE8), to(#DBDCDA)) !important;
	background-image: -webkit-linear-gradient(top, #E9EAE8, #DBDCDA) !important;
	background-image: -moz-linear-gradient(top, #E9EAE8, #DBDCDA) !important;
	background-image: -ms-linear-gradient(top, #E9EAE8, #DBDCDA) !important;
	background-image: -o-linear-gradient(top, #E9EAE8, #DBDCDA) !important;
	background-image: linear-gradient(to bottom, #E9EAE8, #DBDCDA) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9EAE8, endColorstr=#DBDCDA);
}
.button_ltgray:hover, .button_ltgray.hovered
{
	border: 1px solid #606060 !important;
	background-color: #D4D5D3 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D4D5D3), top(#C0C0C0)) !important;
	background-image: -webkit-linear-gradient(top, #D4D5D3, #C0C0C0) !important;
	background-image: -moz-linear-gradient(top, #D4D5D3, #C0C0C0) !important;
	background-image: -ms-linear-gradient(top, #D4D5D3, #C0C0C0) !important;
	background-image: -o-linear-gradient(top, #D4D5D3, #C0C0C0) !important;
	background-image: linear-gradient(to bottom, #D4D5D3, #C0C0C0) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D4D5D3, endColorstr=#C0C0C0);
}


.button_turq
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #ffffff !important;
	border: 1px solid #10606c !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius:	3px !important;
		border-radius:		3px !important;
	background-color: #29b8cd !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#29b8cd), to(#29b8cd)) !important;
	background-image: -webkit-linear-gradient(top, #29b8cd, #29b8cd) !important;
	background-image: -moz-linear-gradient(top, #29b8cd, #29b8cd) !important;
	background-image: -ms-linear-gradient(top, #29b8cd, #29b8cd) !important;
	background-image: -o-linear-gradient(top, #29b8cd, #29b8cd) !important;
	background-image: linear-gradient(to bottom, #29b8cd, #29b8cd) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#29b8cd, endColorstr=#29b8cd);
}
.button_turq:hover, .button_turq.hovered
{
	border: 1px solid #10606c !important;
	background-color: #0A99AE !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0A99AE), top(#12A1B6)) !important;
	background-image: -webkit-linear-gradient(top, #0A99AE, #12A1B6) !important;
	background-image: -moz-linear-gradient(top, #0A99AE, #12A1B6) !important;
	background-image: -ms-linear-gradient(top, #0A99AE, #12A1B6) !important;
	background-image: -o-linear-gradient(top, #0A99AE, #12A1B6) !important;
	background-image: linear-gradient(to bottom, #0A99AE, #12A1B6) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0A99AE, endColorstr=#12A1B6);
}
.button_green
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #ffffff !important;
	border: 1px solid #5a9b00 !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius:	3px !important;
		border-radius:		3px !important;
	background-color: #70c000, !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#70c000,), to(#70c000)) !important;
	background-image: -webkit-linear-gradient(top, #70c000, #70c000) !important;
	background-image: -moz-linear-gradient(top, #70c000, #70c000) !important;
	background-image: -ms-linear-gradient(top, #70c000, #70c000) !important;
	background-image: -o-linear-gradient(top, #70c000, #70c000) !important;
	background-image: linear-gradient(to bottom, #70c000, #70c000) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#70c000,, endColorstr=#DBDCDA);
}
.button_green:hover, .button_green.hovered
{
	border: 1px solid #5a9b00 !important;
	background-color: #378700, !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#378700,), top(#5CAC01)) !important;
	background-image: -webkit-linear-gradient(top, #378700, #5CAC01) !important;
	background-image: -moz-linear-gradient(top, #378700, #5CAC01) !important;
	background-image: -ms-linear-gradient(top, #378700, #5CAC01) !important;
	background-image: -o-linear-gradient(top, #378700, #5CAC01) !important;
	background-image: linear-gradient(to bottom, #378700, #5CAC01) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#378700, endColorstr=#5CAC01);
}

.button_aqua
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #ffffff !important;
	border: 1px solid #34495e !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius:	3px !important;
		border-radius:		3px !important;
	background-color: #6eb5cb, !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6eb5cb,), to(#6eb5cb)) !important;
	background-image: -webkit-linear-gradient(top, #6eb5cb, #6eb5cb) !important;
	background-image: -moz-linear-gradient(top, #6eb5cb, #6eb5cb) !important;
	background-image: -ms-linear-gradient(top, #6eb5cb, #6eb5cb) !important;
	background-image: -o-linear-gradient(top, #6eb5cb, #6eb5cb) !important;
	background-image: linear-gradient(to bottom, #6eb5cb, #6eb5cb) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#29b8cd,, endColorstr=#29b8cd);
}
.button_aqua:hover, .button_aqua.hovered
{
	border: 1px solid #34495e !important;
	background-color: #4E95AB, !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4E95AB,), top(#6eb5cb)) !important;
	background-image: -webkit-linear-gradient(top, #4E95AB, #6eb5cb) !important;
	background-image: -moz-linear-gradient(top, #4E95AB, #6eb5cb) !important;
	background-image: -ms-linear-gradient(top, #4E95AB, #6eb5cb) !important;
	background-image: -o-linear-gradient(top, #4E95AB, #6eb5cb) !important;
	background-image: linear-gradient(to bottom, #4E95AB, #6eb5cb) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4E95AB, endColorstr=#6eb5cb);
}


.button_blue:hover
{
	border: 1px solid #2d5f79 !important;
	background-color: #5e8a9d !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5e8a9d), top(#37708f)) !important;
	background-image: -webkit-linear-gradient(top, #5e8a9d, #37708f) !important;
	background-image: -moz-linear-gradient(top, #5e8a9d, #37708f) !important;
	background-image: -ms-linear-gradient(top, #5e8a9d, #37708f) !important;
	background-image: -o-linear-gradient(top, #5e8a9d, #37708f) !important;
	background-image: linear-gradient(to bottom, #5e8a9d, #37708f) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5e8a9d, endColorstr=#37708f);
}
.button_blue, .button_blue.button_disabled:hover
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	border: 1px solid #418aaf !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius: 3px !important;
			border-radius:	3px !important;
	background-color: #88c8e3 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#88c8e3), to(#50a2cf)) !important;
	background-image: -webkit-linear-gradient(top, #88c8e3, #50a2cf) !important;
	background-image: -moz-linear-gradient(top, #88c8e3, #50a2cf) !important;
	background-image: -ms-linear-gradient(top, #88c8e3, #50a2cf) !important;
	background-image: -o-linear-gradient(top, #88c8e3, #50a2cf) !important;
	background-image: linear-gradient(to bottom, #88c8e3, #50a2cf) !important;	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#88c8e3, endColorstr=#50a2cf);
}
.button_red
{
	/*height: 25px;*/
	font-size: 11px !important;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	border: 1px solid #d3922b !important;
	-webkit-border-radius:	3px !important;
		-moz-border-radius: 3px !important;
			border-radius:	3px !important;
	background-color: #aa3606 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aa3606), to(#702004)) !important;
	background-image: -webkit-linear-gradient(top, #aa3606, #702004) !important;
	background-image: -moz-linear-gradient(top, #aa3606, #702004) !important;
	background-image: -ms-linear-gradient(top, #aa3606, #702004) !important;
	background-image: -o-linear-gradient(top, #aa3606, #702004) !important;
	background-image: linear-gradient(to bottom, #aa3606, #702004) !important;	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aa3606, endColorstr=#702004);
}
.button_red:hover
{
	border: 1px solid #d3922b !important;
	background-color: #800C00 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#800C00), top(#621818)) !important;
	background-image: -webkit-linear-gradient(top, #800C00, #621818) !important;
	background-image: -moz-linear-gradient(top, #800C00, #621818) !important;
	background-image: -ms-linear-gradient(top, #800C00, #621818) !important;
	background-image: -o-linear-gradient(top, #800C00, #621818) !important;
	background-image: linear-gradient(to bottom, #800C00, #621818) !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#800C00, endColorstr=#621818);
}



input[type=radio].css-checkbox 
{
	/*display:none;*/
	position:absolute;

	opacity: 0.0;						/* Standards Compliant Browsers */
    filter: alpha(opacity=30);			/* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

input[type=radio].css-checkbox + label.option-label{
	padding-left:23px;
	height:18px; 
	display:inline-block;
	line-height:18px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:18px;
	vertical-align:middle;
	cursor:pointer;

}

/*input[type=radio].css-checkbox:checked + label.option-label,*/
 input[type=radio].css-checkbox + label.option-label.checked{
	background-position: 0 -18px !important;
}
label.option-label {
	background-image:url(/Common/Images/GreenRadio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label.option-label span
{
	display: block;
	font-size: 8pt;
	line-height: normal;
	width:400px;
}